[submodule "themes/tanka"]
	path = themes/tanka
	url = https://github.com/nanxstats/hugo-tanka.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
